#takeTest {
    font-size: 20px;
    font-family: serif;
    color: white;
    border: 1px black dotted;
    border-radius: 10px;
    font-weight: 500;
    background: #00aeff;
    position: fixed;
    left: 60%;
    top: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px blue;
}
#takeTest:hover {
    color: black;
}